* {
 box-sizing: border-box;
}
body {
 margin: 0;
 padding: 0;
}
form {
 width: 90vw;
 margin: auto;
 background-color: burlywood;
 padding-left: 10em;
 padding-top: 3em;
 margin-top: 5vh;
 padding-bottom: 5em;
 position: relative;
 border-radius: 30px;
}
label {
 display: block;
 font-size: 4vw;
 margin-block: 1em;
 position: relative;
}
input {
 display: block;
 width: 40%;
 font-size: 2vw;
 font-style: italic;
 border-radius: 30px;
 height: 4vh;
 margin-top: 5px;
 padding-left: 20px;
 position: relative;
}
button {
 display: block;
 width: 40%;
 margin-left: 10px;
 font-size: 3vw;
 border: none;
 border-radius: 15px;
 padding-block: 0.5em;
 background-color: black;
 color: azure;
}
.toggle-visibility {
  position: absolute;
  right: 61%;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1em;
  user-select: none;
  opacity: 0.6;
}
.circle {
 position: absolute;
 top: 5%;
 right: 10%;
 font-size: 5vw;
 border-radius: 50%;
 padding-block:2em;
 padding-inline: 1.5em;
 text-align: center;
 border: 10px solid black;
 background: linear-gradient(to top, rgb(3, 96, 117) 20%, rgb(81, 212, 238) 65%, transparent 65%);
}
p {
 position: absolute;
 right: 10%;
 top: 45%;
 font-size: 3vw;
}
.tasks {
 position: absolute;
 top: 60%;
 right: 3%;
 font-size: 3vw;
 border: none;
 box-shadow: 3px 3px 3px black;
 padding-inline: 5px;
 border-radius: 20px;
 background-color: rgba(128, 128, 128, 0.4);
}
li {
 list-style: none;
 text-decoration: line-through;
}
